<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Подшипники. Полное техническое описание, чертеж. Наличие и цены в Санкт-Петербурге.">
    <meta name="author" content="Дзёхо.ру">
    <link rel="shortcut icon" href="favicon.ico">

    <title>Подшипник @Model.Headers[0]</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="offcanvas.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Навигация по разделу</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://dzeho.ru">Дзёхо.ру</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://podshipniki.dzeho.ru">Подшипники</a></li>
            <li class="active"><a href="/">Подшипники SKF</a></li>
            <li><a href="/razmestit-reklamu.html">Разместить рекламу</a></li>
            <li><a href="/poisk-po-saitu.html">Поиск по сайту</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Навигация по разделу</button>
          </p>


<h1>!!!H1 H1 H1!!!</h1>


                  <div class="table-responsive"><!-- резиновая таблица -->
                    <table class="table table-bordered">
                      <thead align="center">
                        <tr>
                        @foreach (var h in  @Model.Headers)
                        {
                          <th>@h</th>
                        }
                        </tr>
                      </thead>

                      <tbody>
                        @for (int row = 0; row < @Model.Rows.Count; row++)
                        {
                          <tr>
                            <td><b><a href="./@Model.Rows[row].FinishPageUrl">@Model.Rows[row].Values[0]</a></b></td>
                            @for (int col = 1; col < @Model.Rows[row].Values.Count; col++)
                            {
                            <td>@Model.Rows[row].Values[col]</td>
                            }
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div><!-- /резиновая таблица -->
                  
                  
                      <div class="jumbotron"><!-- спецразмещение-рекламы-серый фон -->
                      </div><!-- /.спецразмещение-рекламы-серый фон -->
        </div><!--/span-->
     <hr>
     <footer>
        <p>&copy; Подшипник Дисконт</p>
      </footer>
    </div><!--/.container-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="offcanvas.js"></script>
  </body>
</html>
